table {
    width: 50%;
}
td {
    border: 1px solid blue;
    height: 150px;
    width: 150px;
    font-size: 30px;
    text-align: center;
  }
  td:hover {
    background: orange;
  }
  table {
    border: 1px solid green;
  }
  body {
      font-size: 30px;
  }